.DS_Store
__pycache__
.db
.env
.vscode
.idea
.vscode/
database/milvus/milvus_db/milvus_db.db
database/milvus/milvus_db/.milvus_db.db.lock
database/__pycache__/
database/milvus/__pycache__/
database/milvus/milvus_db/__pycache__/
chunking/__pycache__/
eval/__pycache__/
examples/__pycache__/
manus/__pycache__/
parser/__pycache__/
rerank/__pycache__/
services/__pycache__/
test/__pycache__/
utils/__pycache__/
webui/__pycache__/
webui/components/__pycache__/
webui/core/__pycache__/
webui/data/__pycache__/
webui/data/file_MD5.json
webui/database/__pycache__/
webui/pages/__pycache__/
webui/pages/uploaded_files/
webui/temp_uploads/
webui/utils/__pycache__/